.header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 200px;
}

.btn {
    margin-left: 40px;
}

.btn__left {
    background: linear-gradient(264.25deg, #FD541F 7.19%, #EB1E1E 43.43%, #981616 91.18%);
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 13px;
    border: none;
    font-size: 16px;
    line-height: 26.88px;
    color: #fff;
    margin-right: 30px;
}

.btn__right {
    /*background-color: transparent;*/
    border-radius: 8px;
    border: 1px solid red;
    color: #fff;
    padding: 14px;
    cursor: pointer;
}