.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-item {
    margin-right: 5px;
    list-style-type: none;
}

.page-item {
    text-decoration: none;
    color: #fff;
    border: 1px solid red;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
}

.active {
    background-color: red;
}